body{

    background-image: url('img/fondodisney2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     background-position: center;
}

#divgrande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divuno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
    background-color:  hsl(123, 68%, 61%);
    border-radius: 20px;
    margin-top: 200px;
}
#botoniniciar{
    width: 200px;
    height: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    border: #0000
}
